.navbar li a{
    color: lightgrey;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.main-container {
    display: flex;
}

.navbar {
    background-color: lightgrey;
    width: 120px;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 150px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 40px;
}

.navbar li {
    background-color: dimgrey;
    color: black;
    border-radius: 7px;
    margin: 10px 0;
    padding: 9px;
    text-align: center;
    position: relative;
    right: 25px;
    transition: all 0.3s ease;
}

.navbar li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-radius: 8px;
    border: 2px solid brown;
    transition: width 0.3s ease;
}

.navbar li:hover {
    right: 40px;
}

.navbar li:hover::before {
    width: 100%;
}

.navbar li i {
    color: black;
}

.note-main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #f0f0f0;
    flex-grow: 1;
}

.container {
    flex: 3;
    margin-right: 20px;
}

.container h1 {
    margin-bottom: 25px;
    font-weight: 700;
    color: #333;
}

.notes {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.notes:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.notes a {
    text-decoration: none;
    color: #0000CD;
    font-weight: 700;
}

.notes a:hover {
    color: #0000CD;
}

.notes h2 {
    margin-bottom: 10px;
}

.text {
    font-weight: 400;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 20px 0;
}

.pagination a {
    text-decoration: none;
    color: #B22222;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #B22222;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #B22222;
    color: white;
}

.side-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #B22222;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
}