{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.form-wrapper {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 30%;
}

.form-wrapper:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
    outline: none;
}

.btn-submit {
    background-image: linear-gradient(to right, #00d2ff, #3a7bd5);
    padding: 15px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-position 0.3s ease;
    text-transform: uppercase;
    background-size: 200% auto;
}

.btn-submit:hover {
    background-position: right center;
}